<div class="actionable">
  <% _.each(messages, function(message) { %>
    <span class="message" style="left:<%= message.get('X') %>px; top:<%= message.get('Y') %>px; color: <%= message.get('color') %>; z-index:<%= message.get('Z') %>;">
      <%= message.get('message') %>
    </span>
  <% }); %>
</div>
